*{
    font-family: monospace;
    font-size: large;
    
}

/* Global style */

html{
}

body{
   background-color: #121a34;
}

/* Header, navbar */

.navbar-color{
    background-color:  #242c6a;
}

.navbar-brand{
    color: whitesmoke;
}

.navbar-brand-icon{
    height: 50px;
}

.navbar-brand:hover{
    color: whitesmoke;
}

.btn-primary{
    background-color: #f9aa3e ;
    color: #242c6a;
}

.btn-primary:hover{
    background-color: #121a34   ;
    color: #f9aa3e;
    border: 1px solid #545c75 ;
}

.navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}

#UserLogId{

    margin: 10px;
    font-size: larger;
    color: whitesmoke;
}

/* Main section */

.main-section{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
}

.main-section-write-card , .main-section-presentation-card{
    color: whitesmoke;
    background-color: #242c6a ;
    border-radius: 0;
    margin: 10px;
    padding: 10px;
}

.main-section-read-container{
    color: whitesmoke;
    background-color: #242c6a ;
    border-radius: 0;
    margin: 10px;
    min-height: 150px;
}

#textoForoId{
    min-height: 100px ;

}

/* mensajes */

.post{

    background-color:       #121a34    ;
    color:   whitesmoke ;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* footer */

footer{
    background-color:   #242c6a   ;
    position: fixed;
    bottom: 0;
    color: whitesmoke;
}

.bi:hover{
    cursor: pointer;
}

/* Register/login */

.col-login{
    margin-top: 10px;
    padding: 10px;
    background-color:   #242c6b ;
    color: whitesmoke;
}
.col-register{
    margin-top: 10px;
    padding: 10px;
    background-color:    #fc9c1c ;
    color:  #242c6b;
}